.atma-regular {
  font-family: "Atma", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: url(wolfgang-hasselmann-pVr6wvUneMk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: "Atma", system-ui;
}

h1, h2, h3, .numOfPlayer_container {
    text-align: center;
}

.playerOne, .playerTwo, .playerThree, .playerFour {
    padding: 5px;
    margin: 10px;
}

select {
    border-radius: 7px;
    font-family: "Atma", system-ui;
}

.allSelect {
    margin-left: 10%;
    padding: 10px;
}

.labelPlayer {
    padding: 10px;
}